*.o
*.so
*.a
*.efi
*.key
*.crt
*.csr
*.cer
*.auth
*.esl
*.1
PK.h
KEK.h
DB.h
hashlist.h
*.hash
*~
*.orig
*.pvk
*.p12
*.der
*.pk7
*.cab
hash-to-efi-sig-list
cert-to-efi-sig-list
cert-to-efi-hash-list
sig-list-to-certs
sign-efi-sig-list
efi-keytool
efi-readvar
efi-updatevar
flash-var
